body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    outline: solid 1px red;
}


/* header */

.header {
    background: rgb(1, 45, 99);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {

    margin-right: 152px;
    width: 90px;
    height: 40px;
    margin-top: 14px;
    margin-bottom: 17px;

}

.nav {
    display: flex;
    align-items: center;

    gap: 29px;
}

.nav__item {}

.nav__link {

    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    color: rgb(199, 199, 199)
}

.nav__link:hover {
    color: rgb(255, 255, 255);
}

.language {
    display: flex;
    align-items: center;
    margin-left: 73px;
}

.language__item {

    color: rgb(220, 220, 220);
    margin-right: 10px;
}

.language__item2 {

    color:
        rgb(255, 255, 255);
}

.language__link {

    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    color: rgb(199, 199, 199);
}

.language__span {
    color: rgb(255, 255, 255);
    margin-left: 10px;
}


/* hero */

.hero {
    display: flex;
    height: 858px;
    background: url(../img/group37.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.hero__logo {}

.hero__subtitle1 {
    color: rgb(255, 255, 255);
    font-family: 'PT Serif';
    font-size: 40px;
    font-weight: 400;
    line-height: 64px;
    text-align: left;
    margin-left: 195px;
    margin-top: 60px;
    border: 10px;
}

.hero__title {
    color: rgb(255, 255, 255);
    font-family: 'Playfair Display';
    font-size: 144px;
    font-weight: 400;
    line-height: 192px;
    margin-left: 156px;
}

.hero__subtitle2 {
    color: rgb(255, 255, 255);
    font-family: 'Playfair Display';
    font-size: 72px;
    font-weight: 400;
    line-height: 96px;
    margin-left: 164px;
    margin-top: 8px;
    margin-bottom: 12px;
}

.hero__text {
    color: rgb(255, 255, 255);
    width: 508px;
    height: 84px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin-left: 164px;
    margin-top: 60px;
}

.hero__button {
    width: 254px;
    height: 67px;
    border-radius: 10px;
    background: rgb(142, 50, 198);
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: rgb(255, 255, 255);
    margin-top: 41px;
    margin-left: 164px;
}

.hero__img {
    display: flex;
    background: url(../img/nike.png);
}

/* advantages */

.advantages {
    background-image: url(../img/group81.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   padding: 105px 0;

}

.advantages__list {
    display: flex;
    border: 5px solid rgb(142, 50, 198);
    padding: 25px 0;
}

.advantages__item:not(:last-child) {
    border-right: 1px solid rgb(255, 255, 255);
}


.advantages__item:nth-child(odd) {
    padding: 0 50px;
}



.advantages__item:nth-child(2) {
    padding: 0 95px;
}

.advantages__title {
    color: rgb(255, 255, 255);
    font-family: 'Playfair Display';
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}


.advantages__img {
    width: 240px;
    height: 240px;
}