body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  outline: solid 1px red;
}

/* header */

.header {
  background: rgb(1, 45, 99);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-right: 152px;
  width: 90px;
  height: 40px;
  margin-top: 14px;
  margin-bottom: 17px;
}

.nav {
  display: flex;
  align-items: center;

  gap: 29px;
}

.nav__item {
}

.nav__link {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  color: rgb(199, 199, 199);
}

.nav__link:hover {
  color: rgb(255, 255, 255);
}

.language {
  display: flex;
  align-items: center;
  margin-left: 73px;
}

.language__item {
  color: rgb(220, 220, 220);
  margin-right: 10px;
}

.language__item2 {
  color: rgb(255, 255, 255);
}

.language__link {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  color: rgb(199, 199, 199);
}

.language__span {
  color: rgb(255, 255, 255);
  margin-left: 10px;
}

/* hero */

.hero {
  display: flex;
  height: 858px;
  background: url(../img/group37.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__logo {
}

.hero__subtitle1 {
  color: rgb(255, 255, 255);
  font-family: "PT Serif";
  font-size: 40px;
  font-weight: 400;
  line-height: 64px;
  text-align: left;
  margin-left: 195px;
  margin-top: 60px;
  border: 10px;
}

.hero__title {
  color: rgb(255, 255, 255);
  font-family: "Playfair Display";
  font-size: 144px;
  font-weight: 400;
  line-height: 192px;
  margin-left: 156px;
}

.hero__subtitle2 {
  color: rgb(255, 255, 255);
  font-family: "Playfair Display";
  font-size: 72px;
  font-weight: 400;
  line-height: 96px;
  margin-left: 164px;
  margin-top: 8px;
  margin-bottom: 12px;
}

.hero__text {
  color: rgb(255, 255, 255);
  width: 508px;
  height: 84px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin-left: 164px;
  margin-top: 60px;
}

.hero__button {
  width: 254px;
  height: 67px;
  border-radius: 10px;
  background: rgb(142, 50, 198);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(255, 255, 255);
  margin-top: 41px;
  margin-left: 164px;
}

.hero__img {
  display: flex;
  background: url(../img/nike.png);
}

/* advantages */

.advantages {
  background-image: url(../img/group81.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 105px 0;
}

.advantages__list {
  display: flex;
  border: 5px solid rgb(142, 50, 198);
  padding: 25px 0;
}

.advantages__item:not(:last-child) {
  border-right: 1px solid rgb(255, 255, 255);
}

.advantages__item:nth-child(odd) {
  padding: 0 50px;
}

.advantages__item:nth-child(2) {
  padding: 0 95px;
}

.advantages__title {
  color: rgb(255, 255, 255);
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}

.advantages__img {
  width: 240px;
  height: 240px;
}

/* reviews */

.reviews {
  display: flex;
  background-image: url(../img/flower.png), url(../img/group61.png);
  background-repeat: no-repeat;
  background-position: bottom left, center;
  background-size: auto, cover;
  height: 520px;
}

.reviews__title {
  color: #fff;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 48px;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 24px;
}

.reviews__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 93px;
  margin-top: 24px;
}

.reviews__item {
  padding: 49px 13px 29px;
}

.text {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  width: 228px;
}

.date {
  color: #d8d8d8;
  font-size: 14px;
  font-weight: 400;
  margin-top: 8px;
}

.reviews__users {
  display: flex;
  margin-top: 47px;
}

.avatar {
  margin-right: 5px;
}

.name {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.years {
  color: #d8d8d8;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
}

#john {
  width: 255px;
  height: 292px;
  border-radius: 15px;
  background: linear-gradient(
    137deg,
    #00e5e6 7.29%,
    #00a8f7 26.04%,
    #9a76f9 62.5%,
    #cc5ec2 100%
  );
  box-shadow: 0px 14px 0px -5px #7b54b2, 0px 30px 0px -13px #533978;
}

#eliz {
  width: 255px;
  height: 292px;
  border-radius: 15px;
  background: linear-gradient(
    137deg,
    #ff68b4 0%,
    #ff45e1 26.04%,
    #ce3aff 62.84%,
    #8961ff 100%
  );
  box-shadow: 0px 14px 0px -5px #9159b1, 0px 30px 0px -13px #61337c;
}

#tom {
  width: 255px;
  height: 292px;
  border-radius: 15px;
  background: linear-gradient(
    143deg,
    #ffe128 0%,
    #ff9b5c 30.21%,
    #ff8381 63.29%,
    #ff5489 100%
  );
  box-shadow: 0px 14px 0px -5px #b95a4c, 0px 30px 0px -13px #732f26;
}

/* order */

.order {
  display: flex;
  background-position: center;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-image: url(../img/group21.jpg);
  flex-direction: column;
  background-size: cover;
  height: 570px;
}

.form {
    
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.first {
  width: 690px;
  color: #959595;
  font-size: 28px;
  font-weight: 400;
  border-radius: 50px;
  background: #fff;
  
  height: 60px;

}

.order__text {
    font-family: "Playfair Display";
  text-align: center;
  color: #fff;
  border-top: 21px;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 31px;
 
  

}

.order__form__input {
    color: #959595;
  width: 580px;
  height: 50px;
  border-radius: 50px;
  font-size: 24px;
  font-weight: 400;
  background: #fff;
 

}

input {
    padding-left: 25px;
}

.order__button {
    background: #8E32C6;
    color: #FFF;
    width: 248px;
    font-weight: 400;
    margin-top: 19px;
    font-size: 24px;
    height: 68px;
    border-radius: 16px;
    margin-left: 450px;
}


.footer {
  background: rgb(2, 22, 53);
}

.footer__list {
}

.footer__item {
}

.footer__item__text {
}

.list {
}

.item {
}

.item__text {
}
